<!doctype html> 
<html lang="fr"> 
   <head> 
      <meta charset="utf-8">
	  <meta name="author" content="Lucas TOUJAS - Raphaël TOLANDAL - Stéphane PLATHEY--BADIN">
	  <meta name="description" content="Venez rechercher un stage ou une opportunité pour la vie.">
      <title>MonStage</title> 
	  <link rel="stylesheet" href="assets/style.css">
	  <link rel="stylesheet" href="assets/style_2.css">
	  <script src="https://kit.fontawesome.com/1eff8d6f21.js" crossorigin="anonymous"></script>
	  
	</head> 
   
	<body>
     <header>
		<nav class = "navbar">
			<div class="nav-left">
			<img alt="Logo" src="logo.png">
			&nbsp;|&nbsp;<a href="index.html">Accueil</a>
			&nbsp;|&nbsp;<a href="offres.html">Offres</a>
			&nbsp;|&nbsp;<span class="active">Entreprises</span>
			</div>
			<div class="nav-right"><a href="login.html"><button class="btn">
			<i class="fa-solid fa-circle-user"></i>  Connexion</button></a>
			</div>
		</nav>

	 </header>
	 
	 <main>
		
			<center><h1>Tu cherches une entreprise en particulier ?</h1></center>
			<section class="container">
				<div class="card__container">

				   <div class="card__box">
					  <!-- CARD PRODUCT -->
					  <div class="card__product">
						 <img src="assets/stage_image.jpg" alt="image" class="card__img">
		  
						 <div>
							<h3 class="card__name">TOTAL</h3>
							<span class="card__price">PAU | 64000</span><br>
							<span class="card__price">4.5</span>
						 </div>
					  </div></div>

					  <!-- POPUP MODAL -->
						<div class="modal">
							<div class="modal__card">
								<i class="fa-solid fa-xmark modal__close"></i>
					  
								<img src="assets/stage_image.jpg" alt="image" class="modal__img">
					  
								<div>
									<h3 class="modal__name">TOTAL</h3>
									<p class="modal__info">
												 tel 
												 email
												 site 
												 desc
									</p>
								</div>
					  
								<div class="modal__buttons">
									<button class="modal__button">Voir leurs offres</button>
								</div>
							</div>
						</div>

					

						<div class="card__box">
						<!-- CARD PRODUCT -->
						<div class="card__product">
						   <img src="assets/stage_image.jpg" alt="image" class="card__img">
			
						   <div>
							  <h3 class="card__name">TOTAL</h3>
							  <span class="card__price">PAU | 64000</span><br>
							  <span class="card__price">4.5</span>
						   </div>
						</div></div>
  
						<!-- POPUP MODAL -->
						  <div class="modal">
							  <div class="modal__card">
								  <i class="fa-solid fa-xmark modal__close"></i>
						
								  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
						
								  <div>
									  <h3 class="modal__name">TOTAL</h3>
									  <p class="modal__info">
												   Computer product in the best brand 
												   and of good quality at a good price.
									  </p>
									
								  </div>
						
								  <div class="modal__buttons">
									  <button class="modal__button">Voir leurs offres</button>
								  </div>
							  </div>
						  </div>
					  

						<div class="card__box">
						<!-- CARD PRODUCT -->
						<div class="card__product">
						   <img src="assets/stage_image.jpg" alt="image" class="card__img">
			
						   <div>
							  <h3 class="card__name">TOTAL</h3>
							  <span class="card__price">PAU | 64000</span><br>
							  <span class="card__price">4.5</span>
						   </div>
						</div></div>
  
						<!-- POPUP MODAL -->
						  <div class="modal">
							  <div class="modal__card">
								  <i class="fa-solid fa-xmark modal__close"></i>
						
								  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
						
								  <div>
									  <h3 class="modal__name">TOTAL</h3>
									  <p class="modal__info">
												   Computer product in the best brand 
												   and of good quality at a good price.
									  </p>
									  <span class="modal__price">$299</span>
								  </div>
						
								  <div class="modal__buttons">
									  <button class="modal__button">Voir leurs offres</button>
								  </div>
							  </div>
						  </div>

						  <div class="card__box">
							<!-- CARD PRODUCT -->
							<div class="card__product">
							   <img src="assets/stage_image.jpg" alt="image" class="card__img">
				
							   <div>
								  <h3 class="card__name">TOTAL</h3>
								  <span class="card__price">PAU | 64000</span><br>
								  <span class="card__price">4.5</span>
							   </div>
							</div></div>
	  
							<!-- POPUP MODAL -->
							  <div class="modal">
								  <div class="modal__card">
									  <i class="fa-solid fa-xmark modal__close"></i>
							
									  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
							
									  <div>
										  <h3 class="modal__name">TOTAL</h3>
										  <p class="modal__info">
													   Computer product in the best brand 
													   and of good quality at a good price.
										  </p>
										
									  </div>
							
									  <div class="modal__buttons">
										  <button class="modal__button">Voir leurs offres</button>
									  </div>
								  </div>
							  </div>

							  <div class="card__box">
								<!-- CARD PRODUCT -->
								<div class="card__product">
								   <img src="assets/stage_image.jpg" alt="image" class="card__img">
					
								   <div>
									  <h3 class="card__name">TOTAL</h3>
									  <span class="card__price">PAU | 64000</span><br>
									  <span class="card__price">4.5</span>
								   </div>
								</div></div>
		  
								<!-- POPUP MODAL -->
								  <div class="modal">
									  <div class="modal__card">
										  <i class="fa-solid fa-xmark modal__close"></i>
								
										  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
								
										  <div>
											  <h3 class="modal__name">TOTAL</h3>
											  <p class="modal__info">
														   Computer product in the best brand 
														   and of good quality at a good price.
											  </p>
											
										  </div>
								
										  <div class="modal__buttons">
											  <button class="modal__button">Voir leurs offres</button>
										  </div>
									  </div>
								  </div>

								  <div class="card__box">
									<!-- CARD PRODUCT -->
									<div class="card__product">
									   <img src="assets/stage_image.jpg" alt="image" class="card__img">
						
									   <div>
										  <h3 class="card__name">TOTAL</h3>
										  <span class="card__price">PAU | 64000</span><br>
										  <span class="card__price">4.5</span>
									   </div>
									</div></div>
			  
									<!-- POPUP MODAL -->
									  <div class="modal">
										  <div class="modal__card">
											  <i class="fa-solid fa-xmark modal__close"></i>
									
											  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
									
											  <div>
												  <h3 class="modal__name">TOTAL</h3>
												  <p class="modal__info">
															   Computer product in the best brand 
															   and of good quality at a good price.
												  </p>
												
											  </div>
									
											  <div class="modal__buttons">
												  <button class="modal__button">Voir leurs offres</button>
											  </div>
										  </div>
									  </div>

									  <div class="card__box">
										<!-- CARD PRODUCT -->
										<div class="card__product">
										   <img src="assets/stage_image.jpg" alt="image" class="card__img">
							
										   <div>
											  <h3 class="card__name">TOTAL</h3>
											  <span class="card__price">PAU | 64000</span><br>
											  <span class="card__price">4.5</span>
										   </div>
										</div></div>
				  
										<!-- POPUP MODAL -->
										  <div class="modal">
											  <div class="modal__card">
												  <i class="fa-solid fa-xmark modal__close"></i>
										
												  <img src="assets/stage_image.jpg" alt="image" class="modal__img">
										
												  <div>
													  <h3 class="modal__name">TOTAL</h3>
													  <p class="modal__info">
																   Computer product in the best brand 
																   and of good quality at a good price.
													  </p>
													
												  </div>
										
												  <div class="modal__buttons">
													  <button class="modal__button">Voir leurs offres</button>
												  </div>
											  </div>
										  </div>
				</article>
				</div>
	   </section>
       
	 </main>
	 
	 <footer>
		<br>
		<div class='footer_fixe'>&copy;2025 - Tous droits réservés -	JGT</div>
	 </footer>
	 <script src="assets/script.js">
	 </script>
   </body> 
</html> 
