<!doctype html> 
<html lang="fr"> 
   <head> 
      <meta charset="utf-8">
	  <meta name="author" content="Lucas TOUJAS - Raphaël TOLANDAL - Stéphane PLATHEY--BADIN">
	  <meta name="description" content="Venez rechercher un stage ou une opportunité pour la vie.">
      <title>MonStage</title> 
	  <link rel="stylesheet" href="assets/style.css">
	  <script src="https://kit.fontawesome.com/1eff8d6f21.js" crossorigin="anonymous"></script>
   </head> 
   <body>
     <header>
		<nav class = "navbar">
			<div class="nav-left">
			<img alt="Logo" src="logo.png">
			&nbsp;|&nbsp;<a href="index.html">Accueil</a>
			&nbsp;|&nbsp;<span class="active">Offres</span>
			&nbsp;|&nbsp;<a href="entreprises.html">Entreprises</a>
			</div>
			<div class="nav-right"><a href="login.html"><button class="btn">
			<i class="fa-solid fa-circle-user"></i>  Connexion</button></a>
			</div>
		</nav>

	 </header>
	 
	 <main>
	   <section>
			<center><h1>Trouve l'offre de tes rêves !</h1></center>
			<div class="input-icons">
				<form class="search-container" action="#">
					<i class="fa-solid fa-magnifying-glass"></i>
					<input type="text" class="search-input" placeholder="Mots clés...">
					<button type="submit" class="search-button"> Rechercher</button>
				</form>
			</div>

	   </section>
       
	 </main>
	 
	 <footer>
		<br>
		<div class='footer_fixe'>&copy;2025 - Tous droits réservés -	JGT</div>
	 </footer>
	 
   </body> 
</html> 
