<!doctype html> 
<html lang="fr"> 
   <head> 
      <meta charset="utf-8">
	  <meta name="author" content="Lucas TOUJAS - Raphaël TOLANDAL - Stéphane PLATHEY--BADIN">
	  <meta name="description" content="Venez rechercher un stage ou une opportunité pour la vie.">
      <title>MonStage</title> 
	  <link rel="stylesheet" href="assets/style.css">
	  <script src="https://kit.fontawesome.com/1eff8d6f21.js" crossorigin="anonymous"></script>
   </head> 
   <body>
     <header>
		<nav class = "navbar">
			<div class="nav-left">
			<img alt="Logo" src="logo.png">
			&nbsp;|&nbsp;<a href="index.html"> Accueil</a> 
			&nbsp;|&nbsp;<span class="active">Offres</span> 
			&nbsp;|&nbsp;<a href="entreprises.html">Entreprises</a>
			</div>
			<div class="nav-right"><a href="login.html"><button class="btn">
			<i class="fa-solid fa-circle-user"></i>  Connexion</button></a>
			</div>
		</nav>

	 </header>
	 
	 <main>
        <div class="background_image"></div>
	   <section style="margin-left: 20px;margin-right: 20px;">

			<h1>Stage - Exemple</h1>
			<p class="ptit-texte">Entreprise | lieu | Publiée le date | Ref. id_offre</p>
			<h3 class="page-header">Résumé de l'offre</h3>
			<p class="bloc-texte">Exemple</p>&nbsp;
			<p class="bloc-texte">Exemple</p>&nbsp;
			<p class="bloc-texte">Exemple</p>&nbsp;
			<p class="bloc-texte">Exemple</p>&nbsp;

			<article>
				<h3>Description du poste</h3>
                    <p>En tant que stagiaire Développeur Full Stack, vous participerez à la conception et au développement de solutions web innovantes. Vous intégrerez une équipe dynamique et collaborative travaillant en méthodologie Agile.</p>
                    
                    <h3>Missions principales</h3>  

                    <p>- Développer de nouvelles fonctionnalités sur les applications web.              
                    <br>- Participer à la conception technique et aux choix d'architecture.                  
                    <br>- Collaborer avec les équipes UX/UI pour améliorer l'expérience utilisateur.                  
                    <br>- Rédiger la documentation technique des solutions développées.
                    <br>- Assurer les tests et la correction des bugs.</p>
                    
                    <h3>Profil recherché</h3>
                    
                    <p>- Étudiant en formation Bac+4/5 en informatique ou école d'ingénieur.            
                    <br>- Compétences solides en JavaScript (React.js, Node.js), HTML, CSS.                 
                    <br>- Connaissance des bases de données SQL et NoSQL.               
                    <br>- Capacité à travailler en équipe et à communiquer efficacement.            
                    <br>- Curiosité et envie d'apprendre.</p>
                    
                    <h3>Avantages</h3>
                    
                    <p>-Rémunération attractive.
                    <br>-Tickets restaurant et prise en charge partielle des transports.
                    <br>-Ambiance de travail conviviale et bienveillante.</p>
				
					<div class="submit-button">
					<button type="submit" class="btn2">Je postule</button>
                    
				</div>
			</article>					
			<br>
	   </section>
	   
	 </main>
	 
	 <footer>
		<div class='footer_fixe'>&copy;2025 - Tous droits réservés - JGT</div>
	 </footer>
	 
   </body> 
   <!-- <script src="script.js"></script> -->
</html> 
