body
{
  background-color: #f3f3f3;
  font-family:"Century Gothic", sans-serif;
  margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

}

.text-center
{
    text-align: center;
}

.navbar {
    padding : 10px 15px;
    background-color: #f3f3f3;
    position: sticky;
    color: rgb(0, 0, 0);
    font-family: "Century Gothic", sans-serif;
    filter: drop-shadow(0 0 0.50rem rgb(145, 145, 145));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right .btn{
  background-color: orangered; 
  border: 2px solid orangered;
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 20px;
  word-spacing: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-right .btn:hover {
  border: 2px solid orangered;
  color : orangered;
  background-color: white;
}

.nav-left a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

.nav-right a{
    color: white;
    text-decoration: none;
  }

.nav-left a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav-left .active {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Styling for the search container */
.search-container {
  text-align: center;
  margin-top: 20px;
}

/* Styling for the search input */
.search-input {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
  width: 400px;
  margin: auto;
  display: inline-block;
}

/* Styling for the search button */
.search-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  display: inline-block;
}

/* Styling for the search button on hover */
.search-button:hover {
  background-color: #e0e0e0;
}

.submit-button .btn{
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color : #3b3b3b;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: auto;
  display: inline-block;
  font-size: 20px;
}

/* Styling for the search button on hover */
.submit-button .btn:hover {
  color: white;
  background-color: orangered; /* Green */
  border: 2px solid orangered;
}

.submit-button a{
  text-decoration: none;
  color : #3b3b3b;
}

.submit-button .btn2{
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color : #3b3b3b;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: auto;
  display: inline-block;
  font-size: 15px;
}

/* Styling for the search button on hover */
.submit-button .btn2:hover {
  color: white;
  background-color: orangered; /* Green */
  border: 2px solid orangered;
}


.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons i {
  position: left;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;}

.login_form {
    width: 100%;
    max-width: 435px;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto 
    
}

.login_form .separator {
  position: relative;
  margin-bottom: 24px;
}

.separator {
  position: relative;
  margin-bottom: 24px;
}

.petit-lien{
  font-size: 10px;
}

.bloc-texte{
  color: rgb(0, 0, 0);
  background-color: white;
  display: inline-block;
  border: 2px solid #ccc;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 0.8em;
  box-sizing: border-box;
}

select {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  display: inline-block;

  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */
select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, #333 50%),
    linear-gradient(135deg, #333 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

input[type=file]::file-selector-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color : #3b3b3b;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 15px;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
}

input[type=file]::file-selector-button:hover {
  color: white;
  background-color: orangered; /* Green */
  border: 2px solid orangered;
}