body
{
  background-color: #f3f3f3;
  font-family:"Century Gothic", sans-serif;
  margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

}

.text-center
{
    text-align: center;
}

.navbar {
    padding : 10px 15px;
    background-color: #f3f3f3;
    position: sticky;
    color: rgb(0, 0, 0);
    font-family: "Century Gothic", sans-serif;
    filter: drop-shadow(0 0 0.75rem rgb(56, 56, 56));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right .btn{
  background-color: orangered; /* Green */
  border: 2px solid orangered;
  color: white;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 4px;
  word-spacing: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-right .btn:hover {
  border: 2px solid orangered;
  color : orangered;
  background-color: white;
}

.nav-left a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

.nav-right a{
    color: white;
    text-decoration: none;
  }

.nav-left a:hover {
    text-decoration: underline;
    font-weight: bold;
}


.nav-left .active {
    font-weight: bold;
    color: rgb(0, 0, 0);
}



/* Styling for the search container */
.search-container {
  text-align: center;
  margin-top: 20px;
}
/* Styling for the search input */
.search-input {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
  width: 400px;
  margin: auto;
  display: inline-block;
}
/* Styling for the search button */
.search-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  display: inline-block;
}
/* Styling for the search button on hover */
.search-button:hover {
  background-color: #e0e0e0;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons i {
  position: left;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;}
